spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/coffeedb
    username: coffee_user
    password: coffee_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true